.contact {
	cursor: pointer;
	&:not(:last-child) {
		border-bottom: 1px solid;
	}

	padding: .5rem 0rem;
	&-ctr {
		padding: .5rem .5rem;

		&:hover {
			background-color: rgb(236, 236, 236);
			border-radius: 2px;
		}
	}

	&:hover {
	}

	&-unread {
		font-weight: 700;
	}

	&-read {
	}
	&-time-read {
		padding-top: .5rem;
		font-size: .8rem;
		font-weight: 300;
	}

	&-time-unread {
		padding-top: .5rem;
		font-size: .8rem;
		font-weight: 700;
	}
}
