.discover {
	//top: 10%;

	//transform: translateX(-50%) translateY(-50%);

	position: relative;
	padding-top: 10rem;
	//background: linear-gradient(rgb(235, 235, 235), rgb(209, 209, 209));

	//background: repeating-linear-gradient(0deg, blue, red 40px);
	background: repeating-linear-gradient(90deg, #333 10%, #333 60%);

	//background: repeating-linear-gradient(to right, red 0%, red 10%, green 10%, red 20%);

	&-button {
		display: inline-block;
		//position: sticky;
		position: fixed;
		//border: 1px solid black;
		cursor: pointer;

		color: white;
		font-size: 4rem;
		padding: .5rem 6rem;
		//max-height: 5rem;
		//height: 6rem;
		//width: 12rem;
		//text-align: center;
		border-radius: 4px;
		font-family: 'Josefin Sans', sans-serif;
		background-color: white;
		//filter: brightness(90%);
		box-shadow: 0 2rem 1rem black;

		&-like {
			//border: 1px solid green;
			bottom: 3%;
			right: 40%;
			color: green;
			transform: translateX(50%);
			transition: all .25s;

			&:hover {
				background: green;
				color: white;
			}
			//background-color: green;
		}

		&-pass {
			//border: 1px solid red;
			bottom: 3%;
			color: red;
			transform: translateX(-50%);
			left: 40%;
			transition: all .25s;

			&:hover {
				background: red;
				color: white;
			}

			//background-color: red;
		}
	}
}
