*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  font-family: inherit; }

body {
  box-sizing: border-box; }

.App {
  position: relative; }

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-35%); }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%); } }

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-height: 15vh; }
  .navigation-list:last-child {
    border-right: none; }
  .navigation-list li {
    float: left;
    border-right: 1px solid #616161;
    font-size: 1.3rem; }
    .navigation-list li a:link,
    .navigation-list li a:visited {
      display: block;
      text-decoration: none;
      text-align: center;
      padding: 2rem 2.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      transition: all .2s; }
      .navigation-list li a:link:hover,
      .navigation-list li a:visited:hover {
        background-color: white;
        color: #333; }
    .navigation-list li.active a {
      color: #333;
      background-color: white; }

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Philosopher', sans-serif;

*/
.login-signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem;
  opacity: 1;
  animation: fade .50s linear; }
  .login-signup-form input {
    border-radius: 2px;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    padding: 1rem .3em;
    display: block;
    width: 30rem;
    display: block;
    border: none;
    border-bottom: 2px #c4c4c4 solid;
    transition: all 0.15s; }
    .login-signup-form input:not(last-child) {
      margin-bottom: 1.5rem; }
    .login-signup-form input:active, .login-signup-form input:focus {
      border-bottom: 2px black solid; }
    .login-signup-form input:last-child {
      box-shadow: 0rem .15rem .15rem black;
      cursor: pointer;
      border-bottom: transparent; }
      .login-signup-form input:last-child:active {
        box-shadow: 0rem .1rem .1rem black;
        transform: translateY(0.2rem); }
  .login-signup-form-prompt {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif; }
    .login-signup-form-prompt a:link,
    .login-signup-form-prompt a:visited,
    .login-signup-form-prompt a {
      text-decoration: none;
      color: #74748a; }

/*.profile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 60%;
	width: 35%;
    border: solid;
    
}
*/
.profile {
  margin: 0 auto;
  padding: 6rem 3rem;
  background: linear-gradient(#fafafa, #fafafa);
  border-radius: 2px;
  position: relative; }
  .profile-header {
    font-size: 2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    font-family: 'Josefin Sans', sans-serif; }
  .profile-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 1rem 0; }

.info {
  height: 100%;
  border: solid;
  width: 50%;
  display: inline-block;
  overflow: hidden; }
  .info h2 {
    font-family: 'Josefin Sans', sans-serif; }

.contact {
  cursor: pointer;
  padding: .5rem 0rem; }
  .contact:not(:last-child) {
    border-bottom: 1px solid; }
  .contact-ctr {
    padding: .5rem .5rem; }
    .contact-ctr:hover {
      background-color: #ececec;
      border-radius: 2px; }
  .contact-unread {
    font-weight: 700; }
  .contact-time-read {
    padding-top: .5rem;
    font-size: .8rem;
    font-weight: 300; }
  .contact-time-unread {
    padding-top: .5rem;
    font-size: .8rem;
    font-weight: 700; }

.miniprofile-header {
  font-size: 1.5rem;
  padding: .5rem 1rem; }

.miniprofile-info {
  font-size: 1rem;
  padding: 1rem 0; }

.miniprofile-img {
  text-align: center; }
  .miniprofile-img img {
    width: 20rem;
    height: auto;
    border-radius: 50%; }

.chat {
  height: 100%;
  position: relative; }
  .chat-display {
    height: calc(100% - 4rem); }
  .chat-input {
    border: solid;
    overflow: hidden; }
    .chat-input-text {
      width: 80%;
      float: right; }

.login-signup {
  position: relative;
  height: 100vh;
  /*
	&-form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		padding: 2rem;

		& input {
			border-radius: 2px;
			outline: none;
			font-family: 'Josefin Sans', sans-serif;

			font-size: 1.5rem;
			padding: 1rem .3em;
			display: block;
			width: 30rem;
			display: block;
			//filter: brightness(98%);
			border: none;
			border-bottom: 2px rgb(196, 196, 196) solid;

			&:not(last-child) {
				margin-bottom: 1.5rem;
			}

			transition: all 0.15s;

			&:active,
			&:focus {
				border-bottom: 2px black solid;
			}

			&:last-child {
				box-shadow: 0rem .15rem .15rem black;
				cursor: pointer;
				border-bottom: transparent;

				&:active {
					box-shadow: 0rem .1rem .1rem black;
					transform: translateY(0.2rem);
				}

				&:hover {
				}
			}
		}

		&-prompt {
			font-size: 1.5rem;
			font-family: 'Josefin Sans', sans-serif;

			& a:link,
			a:visited {
				text-decoration: none;
				color: rgb(3, 3, 92);
			}
		}
	}
	*/
  /*
	&-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 5rem 3rem;

		border: 2px solid rgb(40, 108, 255);

		& input {
			border: 2px solid rgb(40, 108, 255);
			display: block;
			width: 25rem;
			margin: 2rem;
			font-size: 1.5rem;
			padding: 1rem;
			outline: none;

			border-radius: 6px;
		}
	}
	*/ }
  .login-signup-left {
    position: relative;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to right bottom, white, white); }
  .login-signup-right {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.home {
  position: absolute;
  border: solid;
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.discover {
  position: relative;
  padding-top: 10rem;
  background: repeating-linear-gradient(90deg, #333 10%, #333 60%); }
  .discover-button {
    display: inline-block;
    position: fixed;
    cursor: pointer;
    color: white;
    font-size: 4rem;
    padding: .5rem 6rem;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    box-shadow: 0 2rem 1rem black; }
    .discover-button-like {
      bottom: 3%;
      right: 40%;
      color: green;
      transform: translateX(50%);
      transition: all .25s; }
      .discover-button-like:hover {
        background: green;
        color: white; }
    .discover-button-pass {
      bottom: 3%;
      color: red;
      transform: translateX(-50%);
      left: 40%;
      transition: all .25s; }
      .discover-button-pass:hover {
        background: red;
        color: white; }

.messages {
  position: relative;
  padding-top: 10rem;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  width: 100%; }
  .messages > div {
    float: left; }
    .messages > div:not(:last-child) {
      border-right: 1px solid; }
  .messages-contacts {
    height: 100%;
    max-width: 30rem;
    min-width: 30rem;
    padding: 1rem .5rem; }
    .messages-contacts-search {
      padding-bottom: 1rem; }
      .messages-contacts-search input {
        padding: .5rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
        outline: none;
        border: none;
        border-bottom: 1px solid;
        width: 100%; }
    .messages-contacts-list {
      padding-top: 2rem; }
  .messages-display {
    width: calc(100% - 60rem);
    height: 100%; }
  .messages-miniprofile {
    height: 100%;
    max-width: 30rem;
    min-width: 30rem; }
